:root {
  --color-background: #a9cfea;
  --color-border: #211e76;
  --color-text: #202020;
  --color-text-highlight: #00ffff;
  --color-text-active: #0011ff;
  --color-accent: #3157a4;
  --color-cardback: #FFFFFF;
}

body {
    font-family: Arial;
    color: var(--color-text);
    line-height: 1;
    background-color: var(--color-background);
}

.content-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%; 
    text-align: center;
}

.item-card{
    border: 6px solid var(--color-border);
    width: 130%;
    background-color: var(--color-cardback);
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 5%; 
    align-items: center;
    background-color: var(--color-cardback);
    padding: 5px;
    color: var(--color-text);
}

.nav:hover {
    color: var(--color-text-highlight);
}

.nav:focus {
    color:var(--color-text-active);
}

img {
    max-width: 100%;
    height: auto;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
}

.title {
    text-align: center;
}
